/* ================= RESET ================= */
* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  background-image:
    linear-gradient(#e0e0e0 1px, transparent 1px),
    linear-gradient(90deg, #e0e0e0 1px, transparent 1px);
  background-size: 24px 24px;
}

/* ================= HEADER ================= */
.top-bar {
  width: 100%;
  padding: 30px 24px;
}

.top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  border: 3px solid black;
  padding: 15px 30px;
  font-size: 24px;
}

/* Buscador */
.search-box {
  display: none;
  align-items: center;
  gap: 12px;
  border: 3px solid black;
  padding: 15px 30px;   
  font-size: 24px;     
}


.search-box input {
  border: none;
  outline: none;
  background: transparent;
}

/* Caja derecha (EterIA) */
.right-box {
  display: none;
  border: 3px solid black;
  padding: 15px 30px;
  font-size: 24px;
}

/* HOME */
body.home .search-box {
  display: flex;
}

/* SUPERVISIONES */
body.supervisiones .right-box {
  display: inline-flex;
}

/* ================= CONTENIDO ================= */
.container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

body.supervisiones .container {
  margin-top: 120px;
}

/* Card principal */
.card {
  width: 600px;
  max-width: 800px;
  border: 3px solid black;
  background: white;
  padding: 60px;
  text-align: center;
}

.card.wide {
  width: 800px;
}

.card h1 {
  font-size: 64px;
  margin-bottom: 60px;
}

/* Texto secundario */
.subtitle {
  font-size: 18px;
  margin-bottom: 40px;
}

/* ================= BOTONES ================= */
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

button {
  flex: 1;
  padding: 20px;
  border: 3px solid black;
  background: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #f0f0f0;
}

button.small {
  padding: 12px 20px;
}

button.main-action {
  padding: 20px 40px;
  font-size: 18px;
}

/* ================= UPLOAD ================= */
.upload-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.upload-box input {
  padding: 12px;
  border: 3px solid black;
  background: white;
  width: 300px;
}

#resultado {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}






