/* ===== RESET ===== */
* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  margin: 0;
  background:
    linear-gradient(#e0e0e0 1px, transparent 1px),
    linear-gradient(90deg, #e0e0e0 1px, transparent 1px);
  background-size: 24px 24px;
}

/* ===== HEADER ===== */
.top-bar {
  padding: 30px 90px;
}

.top-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Logo */
.logo {
  border: 3px solid black;
  padding: 15px 30px;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

/* Search */
.search-wrapper {
  position: relative;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 3px solid black;
  padding: 10px 20px;
  width: 320px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

/* Lista resultados */
.lista-resultados {
  margin-top: 6px;
  background: white;
  border: 3px solid black;
}

.resultado-item {
  padding: 10px 14px;
  cursor: pointer;
}

.resultado-item:hover {
  background: #f0f0f0;
}

/* ===== CONTENIDO ===== */
.container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.card {
  width: 600px;
  border: 3px solid black;
  background: white;
  padding: 60px;
  text-align: center;
}

.card h1 {
  font-size: 64px;
  margin-bottom: 60px;
}

/* Botones */
.buttons {
  display: flex;
  gap: 20px;
}

button {
  flex: 1;
  padding: 20px;
  border: 3px solid black;
  background: white;
  cursor: pointer;
}

button:hover {
  background: #f0f0f0;
}

/* ===== MODAL ===== */
/* Fondo del modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2000;
}

/* Oculto */
.modal.hidden {
  display: none;
}

/* Ventana blanca */
.modal-content {
  position: relative;

  background: white;
  border: 3px solid black;

  width: 600px;
  max-width: 90%;
  padding: 50px 60px;

  text-align: center;
}

/* Botón cerrar */
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;

  border: 3px solid black;
  background: white;

  width: 36px;
  height: 36px;

  font-size: 20px;
  cursor: pointer;
}


/* Contenedor del buscador */
.search-wrapper {
  position: relative; /* referencia para el dropdown */
}

/* Lista de resultados */
#lista-resultados {
  position: absolute;
  top: calc(100% + 6px); /* justo debajo del buscador */
  right: 0;

  width: 100%;
  max-height: 300px;
  overflow-y: auto;

  background: white;
  border: 3px solid black;
  z-index: 1000;
}

/* Cada persona */
.resultado-item {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.resultado-item:last-child {
  border-bottom: none;
}

.resultado-item:hover {
  background: #f0f0f0;
}






